@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
*{
    margin:0;
    padding:0;
    font-family: 'Lato', 'sans-serif';
}

body, html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
} 

/*Header Block 1*/

h1,h2,h3,h4,h5,h6,p,a{
    text-align: center;
}
i{
    margin-right: 15px;
}
#header1 .jumbotron{
    padding: 0;
    margin: 0;
    padding-top: 30px;
    height: auto; 
    width: 100%;
    background: url('../image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}
#header1 .jumbotron h1{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
    font-size: 40px;
}
#header1 .jumbotron p{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 100;
}
#header1 .jumbotron img{
    margin-top: 80px;
}
#header1 .jumbotron .btn-default{
    padding: 12px 30px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 6px;
    margin-top: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFF;
    background-color: transparent; 
    border-color: #FFF;
}
#header1 .block-title{
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 12px 30px;
}

/*Header Block 2*/
#header2 {
    height: 100%; 
}
#header2 .jumbotron{
    padding: 0;
    margin: 0;
    padding-top: 30px;
    height: 100%; 
    width: 100%;
    background: url('../image/IMG_5992_edit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}
#header2 .jumbotron h1{
    font-family: 'Roboto', 'sans-serif';
    text-transform: uppercase;
    font-size: 40px;
    color: #e4c181;
}

#header2 .jumbotron h2{
    font-family: 'Roboto', 'sans-serif';
    margin-top: 10px;

}
#header2 .jumbotron p{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 100;
    margin: 0 80px;
}

#header2 .jumbotron a{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

#header2 .jumbotron a:hover{
    text-decoration: none;
}


#header2 .jumbotron .main{
    margin-top: 25%;
}
#header2 .block-title{
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 12px 30px;
}



