@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
*{
    margin:0;
    padding:0;
    font-family: 'Lato', 'sans-serif';
}

body, html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
} 


/***********************
    Header Block 1
***********************/

h1,h2,h3,h4,h5,h6,p,a{
    text-align: center;
}
i{
    margin-right: 15px;
}
#header1 .jumbotron{
    padding: 0;
    margin: 0;
    padding-top: 30px;
    height: auto; 
    width: 100%;
    background: url('../image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}
#header1 .jumbotron h1{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
    font-size: 40px;
}
#header1 .jumbotron p{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 100;
}
#header1 .jumbotron img{
    margin-top: 80px;
}
#header1 .jumbotron .btn-default{
    padding: 12px 30px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 6px;
    margin-top: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFF;
    background-color: transparent; 
    border-color: #FFF;
}
#header1 .block-title{
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 12px 30px;
}


/***********************
    Header Block 2
***********************/

#header2 {
    height: 100%; 
}

#header2 .clear-fix{
    clear:all;
}
#header2 .jumbotron{
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%; 
    width: 100%;
    background: url('../image/IMG_5992_edit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}
#header2 .jumbotron h1{
    font-family: 'Roboto', 'sans-serif';
    text-transform: uppercase;
    font-size: 40px;
    color: #e4c181;
}
#header2 .jumbotron h2{
    font-family: 'Roboto', 'sans-serif';
    margin-top: 10px;

}
#header2 .jumbotron p{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 100;
    margin: 0 80px;
}
#header2 .jumbotron a{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
#header2 .jumbotron a:hover{
    text-decoration: none;
}
#header2 .content-area{
       position: relative;
    top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#header2 .block-title{
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 12px 30px;
}


/***********************
    Header Block 3
***********************/

#header3 .block-title{
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 12px 30px;
}

#header3 {
    height: 100%; 
    width: 100%;
    position: relative;
    text-align: left;
}
#header3 h1{
    text-align: left;
}
#header3 h4{
    text-align: left;
}
#header3 header{
    width: 100%;
    height: 100%;
}
#header3 .brand{
    float: left;
}
#header3 .brand h2{
    margin: 0;
    padding: 0;
    margin-top: 75px;
}
#header3 .social-link{
    float: right;
}
#header3 .social-link li{
    float: left;
    list-style: none;
    margin-top: 85px;
    margin-right:35px;
}
#header3 .text-block{
    position: absolute;
    top: 50%;
    margin-top: -150px;
}
#header3 .btn-block{
    margin-top: 40px;
}
#header3 .learn{
    margin-right: 15px;
}
#header3 .twitter-share-button{
    margin: 0;
    padding: 0;
    vertical-align: text-bottom !important; 
}
#header3 .fb-like{
    vertical-align: top !important; 
    margin: 0;
    padding: 0;
}
#header3 .social-footer{
    position: absolute;
    bottom: 50px
}
#header3 .learn-more-btn{
    background-color: black;
    padding: 12px 35px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
    color: #fff;
}
#header3 .learn-more-btn:hover{
    color: #fff;
    text-decoration: none;
}
#header3 .sign-up-btn{
    background-color: #409BE7;
    padding: 12px 35px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
    color: #fff;
}
#header3 .sign-up-btn:hover{
    color: #fff;
    text-decoration: none;
}
@media (max-width: 990px){
    #header3 .fb-like{
        margin-top: 30px;
    }
}
@media (max-width: 400px){
    #header3 .learn-more-btn{
        margin-right: 0;
    }
}


/***********************
    Header Block 4
***********************/

#header4{
    height: 100%;
    width: 100%;
}
#header4 .block-title{
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 12px 30px;
}

#header4 .content-area{
    position: relative;
    top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#header4 .layer{
    width: 100%;
    height: 100%;
    /*background: rgba(24, 35, 48, .8);*/

    background: rgba(32, 124, 202, .3); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(32, 124, 202, .3) 0%, rgba(229, 116, 45, .6) 96%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(32, 124, 202, .3)), color-stop(96%,rgba(229, 116, 45, .6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(32, 124, 202, .3) 0%,rgba(229, 116, 45, .6) 96%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(32, 124, 202, .3) 0%,rgba(229, 116, 45, .6) 96%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(32, 124, 202, .3) 0%,rgba(229, 116, 45, .6) 96%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(32, 124, 202, .3) 0%,rgba(229, 116, 45, .6) 96%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='rgba(229, 116, 45, .6)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: #fff;
}
#header4 .jumbotron{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:url('../image/IMG_5992_edit.jpg');
    background-repeat:no-repeat;
    background-attachment:scrolls;
    background-position:center; 
    background-size: cover;
}
#header4 .btn-section{
    margin-top: 40px;
}
#header4 button{
    width: 100%;
}

#header4 p{

}
#header4 .main-btn{
    background-color: orange;
    border: none;
    padding: 12px 0;
    border-radius: 50px;
} 

#header4 .secondary-btn{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 0;
    border-radius: 50px;
}






